
<div id="crouton">
    <ul>
        <li><%= link_to "Sign Up!", new_diner_path %></li>
        <li><a href="#">Two</a></li>
        <li><a href="#">Three</a></li>
        <li><%= link_to "Log-in!", new_diner_path %></li>
    </ul>
</div>
